 <section class="glassSection">
        <div class="glassContainer ">
            <div class="row">
                <div class="input glassmorphism">
                    <h1>Weather APP &#x26C5;</h1>
                    <input type="text" id="cidade" name="cidade" class="form-control" id="inputName" placeholder="Cidade" >
                    <button type="submit" class="btn btn-primary" id="searchButton">Descubra a temperatura &#x26C5;</button>
                </div>
                <div class="firstCard glassmorphism">
                    <h1 class="temperatura">Temperatura</h2>
                    <h3 class="umidade">Umidade</h4>
                    <h3 class="clima">Clima</h4>
                    <h3 class="cidade">Cidade</h4>
                    <h3 class="pais">Pais</h5>
                </div>
            </div>
            <div class="secondCard glassmorphism">
                <div class="primeiraLista">
                    <h1>Top 5 Cidades Pesquisadas</h2>
                    <div id="containerLista2">
                        <div id="dinamicaLista2">
                                
                        </div>
                    </div>
                </div>
                <div class="segundaLista">
                    <h1 class="cidades">Ultimas Cidades Pesquisadas</h1>
                    <div id="containerLista">
                        <div id="dinamicaLista">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </section>


<script src="/js/websocket.js" type='text/javascript'></script>
    
    
