@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.glassContainer{
    min-height: 100vh;
    display:flex;
    
}

.firstCard{
    position:relative;
    width:280px;
    height:400px;
    margin:30px;
    
    padding:20px;
}

.input{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    height:200px;
    padding:30px;
    margin:30px;
}

.input input,button{
    margin:1em;
}





.glassmorphism{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glassSection{
    background: linear-gradient(#355C7D, #6C5B7B);
    z-index: -2;
}

.glassSection::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(#4c94d3, #965cc9);
    clip-path: circle(20% at 10% 10%);
    
}


body::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(#447bac, #965cc9);
    clip-path: circle(30% at right 70%);
    z-index: 0;
   
}


.temperatura{
    font-size: 2em;
    font-weight: 1100;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
}

.umidade{
    width: 100%;
    margin-top: 3em;
    text-align: center;
}

.clima{
    position: absolute;
    top: calc(70%);
    left: 50%;
    transform: translate(-50%,-50%);
}

.cidade{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.25em;
}

.pais{
    position: absolute;
    left: 0;
    bottom: 0;
}

.secondCard,.firstCard{
    z-index: 1;
}


.secondCard{
    position:relative;
    width:60vw;
    height:90vh;
    margin:30px;
    display:flex;
    flex-direction: column;
    
}

.primeiraLista{
    width:100%;
    height:50%;
}

.lista{
    list-style: none;
    font-size:2em;
}



.segundaLista{
    width: 100%;
    height:50%;
    
}

.row{
    display: flex;
    flex-direction: column;
}

.h1cidade{
    font-weight: 500;
}

@media only screen and (max-width:800px){
    *{
        word-break: keep-all;
    }
    .secondCard{
        width:80vw !important;
        height:100% !important;
        flex-direction:column !important;
        margin: 2em;
    }
    .glassContainer{
        flex-direction: column;
    }
    .primeiraLista{
        margin-bottom: 1em;
    }
}
